<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KanjiWidget"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".KanjiDetailActivity"
            android:exported="false"
            android:label="@string/stroke_order_title"
            android:theme="@style/Theme.KanjiWidget" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:theme="@style/Theme.KanjiWidget" />

        <activity
            android:name=".RoadmapActivity"
            android:exported="false"
            android:label="@string/roadmap_title"
            android:theme="@style/Theme.KanjiWidget" />

        <activity
            android:name=".PlacementTestActivity"
            android:exported="false"
            android:label="@string/placement_test_title"
            android:theme="@style/Theme.KanjiWidget" />

        <activity
            android:name=".PlacementResultActivity"
            android:exported="false"
            android:label="@string/placement_result_title"
            android:theme="@style/Theme.KanjiWidget" />

        <activity
            android:name=".widget.WidgetConfigurationActivity"
            android:exported="true"
            android:theme="@style/Theme.KanjiWidget" />

        <receiver
            android:name=".widget.KanjiAppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.kanjiwidget.ACTION_NEXT_KANJI" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/kanji_widget_info" />
        </receiver>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

    </application>

</manifest>
